server:
  port: 8083


spring:
  datasource:
    username: root
    password: 124823
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mp?useSSL=false&serverTimezone=UTC

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: WEB-INF/**

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# jwt配置
jwtSecret: 124823
# 单位： 小时
expire: 3
